.forum-page {
    padding: unset;
}

.forum-page .main-content {
    height: 100%;
    padding: 70px 30px 20px;
}

.forum-page .main-content .post {
    background-color: #fff;
    border-radius: 30px;
    padding: 40px 40px 20px;
    margin-bottom: 40px;
    box-shadow: -3px 2px 5px 0px rgba(0, 0, 0, 0.75);
    -webkit-box-shadow: -3px 2px 5px 0px rgba(0, 0, 0, 0.75);
    -moz-box-shadow: -3px 2px 5px 0px rgba(0, 0, 0, 0.75);
}

.forum-page .forum-nav-side {
    position: fixed;
    right: 0;
    height: 90vh;
    width: calc(4/12 * 100%);
    /* background-color: #fff; */
    padding: calc(var(--nav-bar-height) + 10px) 30px 20px;
    overflow-y: scroll;
}

.forum-page .forum-nav-side .forum-tag {
    border-radius: 30px;
    box-shadow: -6px 3px 5px 0px rgba(0, 0, 0, 0.75);
    -webkit-box-shadow: -6px 3px 5px 0px rgba(0, 0, 0, 0.75);
    -moz-box-shadow: -6px 3px 5px 0px rgba(0, 0, 0, 0.75);
    padding: 20px;
    margin-bottom: 20px;
    height: 100px;
    transition: .5s;
    cursor: pointer;
    position: relative;
}

.forum-page .forum-nav-side .forum-tag::before {
    content: "";
    position: absolute;
    inset: 0;
    z-index: 100;
}

.forum-page .forum-nav-side .forum-tag.active,
.forum-page .forum-nav-side .forum-tag:hover {
    transform: translateX(20px);
}

.forum-page .forum-nav-side .forum-tag.active {
    border: 1px dashed darkblue;
    box-shadow: 2px -1px 5px 4px rgba(0, 0, 0, 0.48) inset;
    -webkit-box-shadow: 2px -1px 5px 4px rgba(0, 0, 0, 0.48) inset;
    -moz-box-shadow: 2px -1px 5px 4px rgba(0, 0, 0, 0.48) inset;
}

.forum-page .forum-nav-side .forum-tag img {
    width: 100%;
    height: 100%;
}


.forum-page .modal-dialog .modal-content {
    background-color: transparent;
}

.btn-login{
    margin-bottom: 100px;
}

.box-area{
    width: 930px;
}

/*------------ Right box ------------*/

.right-box{
    padding: 40px 30px 40px 40px;
}

/*------------ Custom Placeholder ------------*/

::placeholder{
    font-size: 16px;
}

.rounded-4{
    border-radius: 20px;
}
.rounded-5{
    border-radius: 30px;
}

.img-2{
    border-radius: 10px;
    width: 300px;
    height: 200px;
}



@media only screen and (max-width: 768px){

     .box-area{
        margin: 0 10px;

     }
     .left-box{
        height: 100px;
        overflow: hidden;
     }
     .right-box{
        padding: 20px;
     }
}
