.appload-class {
    min-height: 300px;
}

.appload-user {
    position: relative;
    padding: 30px;
}

.appload-user .avatar {
    position: absolute;
    width: 100px;
    height: 100px;
    border-radius: 50%;
    z-index: 2;
}

.appload-user .rank {
    content: '';
    position: absolute;
    width: 100px;
    height: 100px;
    z-index: 1;
    background-size: contain;
}

.appload-user .rank-1 {
    background-image: url("../../../public/src/apploads/badge-1.png");
    scale: 1.7;
}

.appload-user .rank-2, .appload-user .rank-3 {
    background-image: url("../../../public/src/apploads/badge-2.png");
    scale: 1.6;
}

.appload-user .rank-4, .appload-user .rank-5 {
    background-image: url("../../../public/src/apploads/badge-3.png");
    scale: 1.5;
}

.appload-user:has(.rank-2) {
    margin-top: 20px;
}

.appload-user:has(.rank-3) {
    margin-top: 30px;
}

.appload-user:has(.rank-4) {
    margin-top: 40px;
}

.appload-user:has(.rank-5) {
    margin-top: 50px;
}

.appload-user-modal {
    position: absolute;
    background-color: rgba(255, 255, 255, .7);
    width: 220px;
    z-index: 10;
    top: 170px;
    transform: translateX(-25%);
}

.appload-user-modal-body {
    min-height: 180px;
    overflow-y: scroll;
    -ms-overflow-style: none;
    scrollbar-width: none;
}

.appload-user-modal-body::-webkit-scrollbar {
    display: none;
}

.appload-user .empty {
    content: '';
    position: absolute;
    width: 100px;
    height: 100px;
    z-index: 1;
    border: 3px dashed gold;
    background-image: unset;
    border-radius: 50%;
}

@media only screen and (max-width: 1200px) {
    .appload-user-modal {
        width: 180px;
    }
}

@media only screen and (max-width: 992px) {
    .appload-user-modal {
        width: 350px;
        height: 200px;
        top: 0;
        right: 0;
        transform: unset;
    }

    .appload-user-modal-body {
        min-height: 100px;
    }

    .appload-user {
        height: 200px;
        margin-top: 0;
    }

    .appload-user:has(.rank-2) {
        margin-top: 0;
    }

    .appload-user:has(.rank-3) {
        margin-top: 0;
    }

    .appload-user:has(.rank-4) {
        margin-top: 0;
    }

    .appload-user:has(.rank-5) {
        margin-top: 0;
    }

    .honor-section {
        height: 130vh;
    }
}