.admin-layout .admin-nav {
    animation: appear 1s cubic-bezier(0.68, -0.55, 0.265, 1.55) both;
}

@keyframes appear {
    0% {
        transform: translateX(-100%);
    }

    100% {
        transform: translateX(0);
    }
}

.admin-layout .admin-content {
    animation: fade 1s ease-in-out;
}

@keyframes fade {
    0% {
        opacity: 0;
    }

    100% {
        opacity: 1;
    }
}

.admin-layout .logo {
    scale: 0.7;
}

.admin-layout .admin-btn-nav {
    cursor: pointer;
}