.stack-index section.intro-section {
    background-image: url("../../../../public/src/backgrounds/intro-bg.jpg");
}

.stack-index section.intro-section .banner {
    animation: uppear 1s cubic-bezier(0.68, -0.55, 0.265, 1.55);
}

.stack-index section.intro-section .text-container {
    animation: fromLeft 1s cubic-bezier(0.68, -0.55, 0.265, 1.55) backwards;
}

.stack-index section.intro-section .text-container h3,
.stack-index section.intro-section .text-container h6,
.stack-index section.intro-section .text-container b {
    animation: textFade 2s .5s cubic-bezier(0.68, -0.55, 0.265, 1.55) backwards;
}

.stack-index section.intro-section .sub-contain .sub-item {
    animation: textFade 2s .5s cubic-bezier(0.68, -0.55, 0.265, 1.55) backwards, uppear 1s cubic-bezier(0.68, -0.55, 0.265, 1.55);
}

@keyframes textFade {
    0% {
        color: transparent;
    }

    100% {
        color: unset;
    }
}

@keyframes fromLeft {
    0% {
        opacity: 0;
        transform: translateX(120%);
    }

    100% {
        opacity: 1;
        transform: translateX(0);
    }
}

.stack-index .item-page .banner .carousel-banner {
    position: absolute;
    width: 100%;
    bottom: 0;
    border-radius: 10px;
    box-shadow: -25px 23px 5px 0px rgba(0, 0, 0, 0.58);
    -webkit-box-shadow: -25px 23px 5px 0px rgba(0, 0, 0, 0.58);
    -moz-box-shadow: -25px 23px 5px 0px rgba(0, 0, 0, 0.58);
}

.stack-index .item-page .banner .carousel-banner img,
.stack-index .item-page .banner .carousel-banner picture,
.stack-index .item-page .banner .carousel-banner video {
    width: 100%;
    border-radius: 10px;
    height: var(--banner-height);
}

.stack-index .home-section .banner-container .logos .logo {
    z-index: 100;
}

.stack-index section.intro-section .btn-view {
    position: unset;
    margin-left: 10px;
    background-color: rgb(235, 58, 87);
    text-decoration: none;
    padding: 5px 20px;
    color: white;
    border-radius: 20px;
    
}

.stack-index section.intro-section .btn-view:hover {
    font-weight: bold;
    box-shadow: 1px 1px 5px 2px rgba(204, 204, 204, 0.5);
}

.stack-index section.intro-section .text-container {
    background-color: rgba(255, 255, 255, 0.8);
    border-radius: 20px;
    padding: 10px;
}

.stack-index section.intro-section .sub-contain {
    perspective: 500px;
}

.stack-index section.intro-section .sub-item {
    min-height: 100px;
    width: 100%;
    border-radius: 5px;
    word-wrap: none;
    text-align: center;
    width: 100%;
    background-color: white;
    margin: 0 10px;
    transform: rotateX(30deg);
    box-shadow: -13px 12px 20px 0px rgba(0, 0, 0, 0.58);
    -webkit-box-shadow: -13px 12px 20px 0px rgba(0, 0, 0, 0.58);
    -moz-box-shadow: -13px 12px 20px 0px rgba(0, 0, 0, 0.58);
}

.stack-index section.intro-section .sub-item:hover {
    transform: rotateX(0deg) rotateY(20deg) translateZ(100px);
    z-index: 4;
}

.stack-index section.intro-section .sub-item.reverse:hover {
    transform: rotateX(0deg) rotateY(-20deg) translateZ(100px);
}