#sub-post-page .posts-title {
    z-index: 100;
    position: absolute;
    left: 30%;
    right: 30%;
    height: 20%;
    background-color: white;
}

#sub-post-page .posts-title h1 {
    font-size: 4em;
    -webkit-text-stroke: 2px #000;
    -webkit-text-fill-color: transparent;
}

#sub-post-page .posts-wrapper {
    padding: 10px 0;
    position: absolute;
    top: 25%;
    left: 0;
    background-color: rgba(255, 255, 255, .5);
    overflow-x: hidden;
    min-width: 100%;
}

#sub-post-page .posts-wrapper.show {
    animation: showPosts 1s cubic-bezier(0.68, -0.55, 0.265, 1.55) both;
}

@keyframes showPosts {
    0% {
        opacity: 0;
        transform: translateY(100%);
    }

    100% {
        opacity: 1;
        transform: translateY(0);
    }
}

#sub-post-page .posts-wrapper.hide {
    animation: hidePosts 1s cubic-bezier(0.68, -0.55, 0.265, 1.55) forwards;
}

@keyframes hidePosts {
    100% {
        opacity: 0;
        transform: translateY(100%);
    }
}

#sub-post-page .posts-wrapper .posts {
    display: flex;
    gap: 20px;
    min-width: 100%;
    /* height: 100%; */
    justify-content: center;
    margin-left: 400px;
}

#sub-post-page .posts-wrapper .posts .post {
    width: 250px;
    height: 250px;
    background-color: red;
    box-shadow: -6px -1px 5px -4px rgba(0, 0, 0, 0.75);
    border-radius: 20px;
    display: block;
}

#sub-post-page .posts-wrapper .posts .post:hover {
    scale: 1.1;
    box-shadow: -6px -6px 74px -2px rgba(255, 255, 0, 0.32);
}

#sub-post-page .posts-wrapper .tags-frame {
    height: 100px;
}

#root:has(#sub-post-page)~.modal.fade .modal-body .post-content {
    background-image: none;
    background-color: transparent;
    min-height: 40vh;
}