#sub-forum-page .add-frame {
    position: fixed;
    inset: 0;
    transform: translate(-100%, 100%);
    transition: 0.5s cubic-bezier(0.68, -0.55, 0.265, 1.55);
    height: 0;
    width: 0;
}

#sub-forum-page .add-frame .btn-add {
    position: fixed;
    top: 0;
    right: 0;
    transform: translate(100%, -100%);
    display: none;
}

#sub-forum-page .add-frame .btn-add.show {
    transform: translate(20%, -20%);
    display: unset;
}

#sub-forum-page .add-frame .frame-container {
    background-color: white;
    width: 100%;
    padding: 20px;
    border-radius: 20px;
    display: none;
    box-shadow: 1px 1px 2px 2px rgba(0, 0, 0, 0.4);
}

#sub-forum-page .add-frame:has(button.btn-add.show) {
    transform: translate(0, 0);
    width: unset;
    height: unset;
    top: 15%;
    left: 20%;
    right: 20%;
    bottom: 15%;
}

#sub-forum-page .add-frame:has(button.btn-add.show) .frame-container {
    display: block;
}

#sub-forum-page .threat,
#sub-forum-page .threat-discussion {
    box-shadow: 0px -1px 6px 1px rgba(0, 0, 0, 0.15);
    border-radius: 20px;
}

#sub-forum-page .threat .threat-header,
#sub-forum-page .threat-discussion .threat-header {
    border-top-left-radius: 20px;
    border-top-right-radius: 20px;
}

#sub-forum-page .threat .threat-footer,
#sub-forum-page .threat-discussion .threat-footer {
    border-bottom-left-radius: 20px;
    border-bottom-right-radius: 20px;
}

#sub-forum-page .threat .threat-body,
#sub-forum-page .threat-discussion .threat-body {
    background-color: rgba(204, 204, 204, 0.7);
}

#sub-forum-page .threats,
#sub-forum-page .threat-discussion .threat-body {
    height: 60vh;
    overflow: hidden;
    overflow-y: scroll;
    -ms-overflow-style: none;
    scrollbar-width: none;
}

#sub-forum-page .threats {
    height: unset;
    height: 80vh;
    -ms-overflow-style: none;
    scrollbar-width: none;
    position: relative;
}

#sub-forum-page .threat-discussion .threat-body::-webkit-scrollbar,
#sub-forum-page .threats::-webkit-scrollbar {
    display: none;
    /* Safari and Chrome */
}

#sub-forum-page .forum-container .btn-add-threat {
    position: absolute;
    top: 0;
    left: 0;
    z-index: 2;
    transform: translateX(-100%);
}
#sub-forum-page .threats {
    perspective: 500px;
}

#sub-forum-page .threats .threat.active {
    transform: rotateY(10deg) translateX(50px);
    margin-top: 30px;
    margin-bottom: 30px;
    box-shadow: -2px 2px 10px 4px rgba(255, 255, 0, 0.3);
}