
/* MARK:WAVE */
.stack-home .stack-wave {
    position: relative;
    width: 100%;
    height: 150px;
    transform: translateY(-100%);
}

.stack-home .stack-wave.first {
    background-color: unset;
}

.stack-home .waveWrapper {
    overflow: hidden;
    position: absolute;
    left: 0;
    right: 0;
    bottom: 0;
    top: 0;
    margin: auto;
}

.stack-home .waveWrapperInner {
    position: absolute;
    width: 100%;
    overflow: hidden;
    height: 100%;
    bottom: -1px;
    background-color: transparent;
    /* background-image: linear-gradient(to top, #86377b 20%, #27273c 80%); */
}

.stack-home .bgTop {
    z-index: 15;
    opacity: 0.5;
}

.stack-home .bgMiddle {
    z-index: 10;
    opacity: 0.75;
}

.stack-home .bgBottom {
    z-index: 5;
}

.stack-home .wave {
    position: absolute;
    left: 0;
    width: 200%;
    height: 100%;
    background-repeat: repeat no-repeat;
    background-position: 0 bottom;
    transform-origin: center bottom;
}

.stack-home .waveTop {
    background-size: 50% 100px;
}

.stack-home .waveAnimation .waveTop {
    animation: move-wave 3s;
    -webkit-animation: move-wave 3s;
    -webkit-animation-delay: 1s;
    animation-delay: 1s;
}

.stack-home .waveMiddle {
    background-size: 50% 120px;
}

.stack-home .waveAnimation .waveMiddle {
    animation: move_wave 10s linear infinite;
}

.stack-home .waveBottom {
    background-size: 50% 100px;
}

.stack-home .waveAnimation .waveBottom {
    animation: move_wave 15s linear infinite;
}

@keyframes move_wave {
    0% {
        transform: translateX(0) translateZ(0) scaleY(1)
    }

    50% {
        transform: translateX(-25%) translateZ(0) scaleY(0.55)
    }

    100% {
        transform: translateX(-50%) translateZ(0) scaleY(1)
    }
}

/* END:WAVE */